.content-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .title {
      display: flex;
      gap: 10px;
      margin-bottom: 6vh;

      h1 {
        font-weight: bold;
        color: white;
      }

      span {
        display: flex;
        width: 10px;
        background-color: #f12c4c;
      }
    }

    form {
      display: flex;
      gap: 25px;
      flex-direction: column;

      .content-field {
        display: flex;
        flex-direction: column;
        gap: 3px;
        color: white;

        .content-field-error {
          animation: animation 0.6s ease forwards;
          color: #f12c4c;
        }

        .content-field-void {
          animation: animation 0.6s ease reverse;
        }

        input {
          padding: 5px;
          color: white;
          height: 40px;
          min-width: 300px;
          max-width: 500px;
          width: 30vw;
          background-color: transparent;
          border: 0;
          border: 1px solid #3e4246;
          border-radius: 4px;
          outline: none;
          font-size: 16px;
        }
      }

      .btn {
        display: flex;
        gap: 4px;

        button {
          padding: 12px;
          width: 100%;
          font-size: 16px;
          border: 0;
          border-radius: 5px;
          color: white;
        }
        .cancel {
          background-color: #f12c4c;
        }

        .submit {
          background-color: #19c761;
        }
      }
    }
  }
}

@keyframes animation {
  from {
    height: 0px;
    padding: 0px;
  }
  to {
    height: 15px;
    padding: 5px;
  }
}
