#double {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  overflow-y: auto;

  section {
    background-color: #1a242d;
    padding: 30px;
    border-radius: 5px;
  }

  .dashboard {
    display: flex;
    gap: 10px;

    form {
      .field-input {
        position: relative;

        input,
        input[type='number']::-webkit-inner-spin-button {
          background-color: #131521;
          border: none;
          border-radius: 3px;
          padding: 15px;
          color: #fff;
          outline: none;
          -webkit-appearance: none;
        }

        .emblem {
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;

          p {
            color: #646b79;
            font-weight: bold;
          }
        }
      }

      .label-btn {
        padding: 10px 0px;
        label {
          color: white;
        }
      }
      .btn,
      .btn-dashboard {
        display: flex;
        gap: 10px;

        button {
          padding: 12px;
          font-size: 14px;
          width: 80px;
          border: 0;
          border-radius: 5px;
        }

        .red {
          background-color: #f12c4c;
          color: white;
        }
        .white {
          color: #f12c4c;
        }
        .black {
          background-color: #2e3c49;
          color: white;
        }
      }

      .btn-dashboard {
        padding: 20px;
        .red {
          width: 16vw;
        }
      }
    }

    canvas {
      height: 250px;
      width: 580px;
      border-radius: 10px;
      background-color: black;
    }
  }

  .tables {
    display: flex;
    gap: 20px;

    table {
      transition: all 1s ease;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0px 0px 10px #13171b;
      background-color: #1a242d;
      color: white;

      tr {
        td,
        th {
          padding: 7px 10px;
        }
      }

      thead {
        padding: 10px;

        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}
