@font-face {
  font-family: 'SofiaPro';
  src: url('../../public/fonts/SofiaPro/Sofia\ Pro\ Regular\ Az.woff');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SofiaPro', sans-serif;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(68, 68, 68)
}

::-webkit-scrollbar-thumb {
  background-color: #646b79;
}
